@model IEnumerable<RideshareIdentityFramework.Models.Ride>

@{
    ViewBag.Title = "Index";
    <link href="~/Content/find-a-ride.css" rel="stylesheet" />
}
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption class="text-center"><h2>All available Rides</h2></caption>
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.StartLocation)</th>
                            <th>@Html.DisplayNameFor(model => model.EndLocation)</th>
                            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                            <th>@Html.DisplayNameFor(model => model.PickUpLocation)</th>
                            <th>@Html.DisplayNameFor(model => model.DropLocation)</th>
                            <th>@Html.DisplayNameFor(model => model.SeatRemaining)</th>
                            <th>@Html.DisplayNameFor(model => model.FarePerSeat)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="location.href = '@(Url.Action("Details", new { id = item.RideID }))'">
                                @Html.HiddenFor(modelItem => item.RideID)
                                <td>@Html.DisplayFor(modelItem => item.StartLocation)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndLocation)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PickUpLocation)</td>
                                <td>@Html.DisplayFor(modelItem => item.DropLocation)</td>
                                <td>@Html.DisplayFor(modelItem => item.SeatRemaining)</td>
                                <td>@Html.DisplayFor(modelItem => item.FarePerSeat)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="text-center">That's all folks!</td>
                        </tr>
                    </tfoot>
                </table>
            </div><!--end of .table-responsive-->
        </div>
    </div>
</div>
